/*-------main-------*/
/*------main__top-block----*/
.main {
    background-color: transparent;
}

.main__top-block {
    background-color: var(--color-white);
    width: 100%;
}

.main__top-block-wrapper {
    max-width: 1170px;
    height: 504px;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    background: url('./rupor.png') no-repeat right;
}

.main__text-block {
    width: 466px;
    height: 304px;
}
.main__top-block__search {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: var(--color-gray);
    border: 1px solid grey;
}
.input-reset {
    border: none;
    width: 464px;
    background-color: transparent;
}

.main__top__text{
    margin: 40px auto;
}

.main__h1 {
    font-family: "Roboto Slab Bold";
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

/*------main__buttons-block----*/
.main__btn-panel{
    background-color: transparent;
    margin: 40px auto;
    max-width: 1170px;
    height: 40px;
}

.main__btn-panel__list {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 48px;
}

.btn-allDeck {
    width: 107px;
    height: 40px;
}

.btn-background {
    background-color: var(--color-btn-background-grey);
    width: 161px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----main__desk------*/
.main__desk {
    max-width: 1170px;
    margin: 0 auto;
    background-color: transparent;
}
.main__desk_h2 {
    font-family: "Roboto Slab Bold";
    font-size: 24px;
    line-height: 32px;
    margin: 32px 10px;

}
/*-----main__desk-table------*/
.main__table {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, 448px);
    grid-auto-flow: row;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 40px;
}
.main__table__article {
    max-width: 363px;
    height: 448px;
    background-color: var(--color-white);
    position: relative;
}
.main__table__article__image-block {
    display: flex;
    max-width: 363px;
    height: 200px;
    position: relative;
}
.table-image-text {
    position: absolute;
    left: 16px;
    bottom: 16px;
    height: 32px;
    width: 78px;
}

.main__table__article__title {
    max-width: 315px;
    height: 24px;
    margin: 24px;
}
.main__table__article__text{
    max-width: 315px;
    min-height: 48px;
    margin: 0px 24px;
}
.main__table__article__price{
    width: 57px;
    height: 24px;
    position: absolute;
    bottom: 56px;
    right: 20px;
}
.main__table__article__date-view{
    width: 80%;
    height: 24px;
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    margin: 0px 24px;
    position: absolute;
    bottom: 24px;
}
.main__table__article__views{
    width: 56px;
    display: flex;
    justify-content: space-between;
}

/*----button-----*/
.main__button {
    margin: 0px auto;
    height: 48px;
    width: 242px;
    border: 1px solid var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 160px;
}
.main__button-text {
    font-family: "Roboto Slab Bold";
    font-size: 16px;
    line-height: 24px;
}